node_modules
package-lock.json
demo1.svg
dist/logo_1.svg
dist/logo_2.svg
dist/logo_3.svg
dist/logo_4.svg
dist/logo_5.svg
dist/logo_6.svg
dist/logo_7.svg
dist/logo_8.svg
dist/logo_9.svg
dist/logo_10.svg